<!DOCTYPE html>
<html lang="pt-PT">

<head>


  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-G3C5WCMRQL"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag() { dataLayer.push(arguments); }
    gtag('js', new Date());
    gtag('config', 'G-G3C5WCMRQL');
  </script>

  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Rafael Morais de Assis</title>
  <meta name="theme-color" content="#73839b">

  <!--============ SEO ============-->
  <meta name="author" content="Rafael Morais de Assis">
  <meta name="keywords" content="Rafael Morais de Assis, Eunápolis, Freelancer"/>
  <meta name="description" content="Rafael Assis Portifolio">

  <link rel="canonical" href="https://siteonepage.com.br/" />

  <link rel="alternate" href="" hreflang="pt-br" />
  <meta name="robots" content="index, follow">

  <meta name="referrer" content="origin">
  <meta name="owner" content="Rafael Assis" />

  <!-- BUSSINESS -->
  <meta property="business:contact_data:country_name" content="Brasil" />
<meta property="business:contact_data:website" content="https://rafanthx13.github.io/" />
<meta property="business:contact_data:email" content="rafaassis15@gmail.com" />
<meta property="business:contact_data:phone_number" content="(34) 99316-6595" />

  <!--============ OG ============-->
  <meta property="og:url" content="https://rafanthx13.github.io/">
  <meta property="og:title" content="Rafael Morais de Assis">
  <meta property="og:type" content="website">
  <meta property="og:image" content="assets/images/my_foto.jpg">
  <meta property="og:description" content="Rafael Assis Portifolio">
  <meta property="og:locale" content="pt-br">

  <!--============ TWITTER ============-->
  <meta name="twitter:card" content="summary" />
  <meta name="twitter:description" content="Rafael Morais de Assis"/>
  <meta name="twitter:title" content="Rafael Morais de Assis" />
  <meta name="twitter:image" content="assets/images/my_foto.jpg" />
  <meta name="twitter:domain" content="rafanthx13.github.io" />

  <!-- GEO PLACE -->
  <meta name="geo.placename" content="Eunápolis" />
  <meta name="geo.region" content="BR" />

  <!--============ FAV ICONS ============-->

  <!-- Generic Favicons -->
  <link rel="icon" type="image/png" sizes="32x32" href="assets/images/favicon/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="assets/images/favicon/favicon-16x16.png">

  <!-- Android -->
  <link rel="shortcut icon" href="assets/images/favicon/favicon-32x32.png" />

  <!-- iOS -->
  <link rel="apple-touch-icon" sizes="180x180" href="assets/images/favicon/apple-touch-icon.png">

  <!-- Windows 8 IE 10-->
  <meta name="application-name" content="RafaelMoraisDeAssis"/>
  <meta name="msapplication-TileColor" content="#73839b">
  <meta name="msapplication-TileImage" content="assets/images/favicon/favicon-144.png">

  <!-- Windows 8.1 + IE11 and above -->
  <meta name="msapplication-config" content="assets/images/favicon/apple-touch-icon.png" />

  <!--============ CSS SRIPTS ============-->
  <!-- TAILWIND DEV -->
  <link rel="stylesheet" href="assets/css/full-tailwind.css">
  <!-- TAILWIND PROD -->
  <!-- <link rel="stylesheet" href="assets/css/my-tailwind.css"> -->

  <link rel="stylesheet" href="assets/css/my-style.css">

  <link rel="stylesheet" href="assets/css/time-line.css">
  <link rel="stylesheet" href="assets/css/language-selector.css">
  <link rel="stylesheet" href="assets/css/hamburguer.css">

</head>

<body>

  <!--============ LOADER ============-->
  <div id="loader-overlay">
    <div class="loader-wrapper">
      <div class="loader"></div>
    </div>
  </div>

  <!--============ IMAGE BACKGROUND HOME ============-->
  <div class="w-full min-h-screen image-hero" >

    <!--============ HEADER ============-->
    <header>
      <div class="container flex flex-col flex-wrap items-center p-5 mx-auto md:flex-row">
        <a class="flex items-center mb-4 font-medium md:mb-0">
          <img src="./assets/images/favicon/android-chrome-192x192.png" alt="" class="w-10 p-0 rounded-full">
        </a>

        <!-- NAV -->
        <nav class="flex-col flex-wrap items-center justify-center hidden text-base font-semibold lg:flex-row md:ml-auto">
          <ul class="flex flex-col items-center justify-center lg:flex-row nav-list">
            <li><a class="m-auto lg:mr-5" href="#section1">Habilidades</a></li>
            <li><a class="m-auto lg:mr-5" href="#section2">Projetos</a></li>
            <li><a class="m-auto lg:mr-5" href="#section3">Contato</a></li>
          </ul>
          <button
            class="px-4 py-2 m-auto font-semibold rounded lg:mr-5 curriculum-button">
            <a href="./assets/curriculum/Rafael-Morais-de-Assis-Curriculo-PT-BR.pdf">
              Donwload Currículo
            </a>
            <!-- bg-transparent hover:bg-gray-500 text-gray-700 border-gray-500 -->
          </button>

          <!-- LANGUAGES -->
          <div class="lang-menu">
            <div class="justify-center pt selected-lang lg:justify-start">
            </div>
            <ul>
              <li><a href="#" class="br">pt</a></li>
              <li><a href="./pages/index-en.html" class="en">en</a></li>
            </ul>
          </div>

        </nav>

        <!-- NAV MOBILE -->
        <nav>
          <header>
            <div class="top-menu">
              <ul>
                <li class="active">
                  <a class="btn_animated" href="#home">
                    <span class="circle" style="text-align: center; text-align: -webkit-center;">
                      <svg xmlns="http://www.w3.org/2000/svg" class="w-5 h-10" viewBox="0 0 20 20" fill="white">
                        <path style="height: 57px;" fill-rule="evenodd" d="M5.293 7.707a1 1 0 010-1.414l4-4a1 1 0 011.414 0l4 4a1 1 0 01-1.414 1.414L11 5.414V17a1 1 0 11-2 0V5.414L6.707 7.707a1 1 0 01-1.414 0z" clip-rule="evenodd" />
                      </svg>
                    </span>
                  </a>
                </li>
                <li>
                  <a class="btn_animated" href="#about-me"><span class="circle">Sobre Mim</span></a>
                </li>
                <li>
                  <a class="btn_animated" href="#skills"><span class="circle">Habilidades</span></a>
                </li>
                <li>
                  <a class="btn_animated" href="#education"><span class="circle">Educação</span></a>
                </li>
                <li>
                  <a class="btn_animated" href="#experience"><span class="circle">Experiência</span></a>
                </li>
                <li>
                  <a class="btn_animated" href="#projects"><span class="circle">Projetos</span></a>
                </li>
                <li>
                  <a class="btn_animated" href="#pricing"><span class="circle">Freelancer</span></a>
                </li>
                <li>
                  <a class="btn_animated" href="#contact"><span class="circle">Contato</span></a>
                </li>
                <li>
                  <a target="_blank" href="./assets/curriculum/Rafael-Morais-de-Assis-Curriculo-PT-BR.pdf"><span class="circle" style="border-radius: 90px;
                    border-width: 1px;
                    margin-left: 10px;">Donwload Currículo</span></a>
                </li>
                <li>
                  <a class="btn_animated" href="./pages/index-en.html">
                    <span class="circle">
                      <span class="nav-mobile en">en</span>
                    </span>
                  </a>
                </li>
              </ul>
              <a href="#" class="menu-btn"><span></span></a>
            </div>
          </header>
        </nav>

      </div>
    </header>

    <!--============ HERO ============-->
    <section id="home">
      <div class="container flex flex-col items-center justify-center px-5 py-2 mx-auto">
        <img id="my-photo" class="object-cover object-center w-4/6 mb-10 rounded-full lg:w-1/4 md:w-2/6" alt="hero"
          src="assets/images/my_foto.jpg" />
        <div class="w-full text-center lg:w-2/3">
          <h1 class="mb-4 text-5xl font-extrabold text-gray-900 sm:text-5xl">Rafael Morais de Assis</h1>

        </div>
      </div>
    </section>

    <!-- SVG Divider -->
    <div class="elementor-shape-bottom">
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1000 100" preserveAspectRatio="none">
        <path d="M421.9,6.5c22.6-2.5,51.5,0.4,75.5,5.3c23.6,4.9,70.9,23.5,100.5,35.7c75.8,32.2,133.7,44.5,192.6,49.7
      c23.6,2.1,48.7,3.5,103.4-2.5c54.7-6,106.2-25.6,106.2-25.6V0H0v30.3c0,0,72,32.6,158.4,30.5c39.2-0.7,92.8-6.7,134-22.4
      c21.2-8.1,52.2-18.2,79.7-24.2C399.3,7.9,411.6,7.5,421.9,6.5z"></path>
      </svg>
    </div>

  </div>

  <!-- ABOUT ME -->
  <section id="about-me">

    <div class="my-10 text-center">
      <h2 class="mb-4 text-gray-900">Sobre Mim</h2>
      <div class="divider-h2">
        <div></div>
      </div>
    </div>

    <div class="flex justify-center text-center">
      <p class="mb-8 leading-relaxed font-roboto">Estudante Graduando de Computação e desenvolvedor Full-Stack e um entusiasta
        em Data Science.</p>
    </div>

  </section>

  <!-- MY HABILITES -->
  <section id="skills">
    <div class="container px-5 py-12 mx-auto">

      <div class="mb-20 text-center">
        <h2 class="mb-4 text-gray-900">Minhas Habilidades</h2>
        <div class="divider-h2">
          <div></div>
        </div>
      </div>

      <div class="flex flex-wrap items-stretch -mb-10 lg:justify-between lg:-mt-4 sm:w-1/2 lg:w-full sm:flex-col lg:flex-row sm:-m-4 md:space-y-0 sm:justify-center sm:mx-auto">

        <!-- FRONT END -->
        <div class="flex flex-col items-center p-1 text-center md:w-1/5 box-skill">
          <div
            class="inline-flex items-center justify-center flex-shrink-0 mb-5 rounded-full color-second-dark">
            <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
              class="w-20 h-20" viewBox="0 0 24 24">
              <path d="M10 20l4-16m4 4l4 4-4 4M6 16l-4-4 4-4"></path>
            </svg>
          </div>
          <div class="flex-grow">
            <h3 class="mb-3 text-2xl font-semibold text-gray-900 ">Front-End</h3>
            <p class="leading-relaxed">
            <ul class="text-lg">
              <li>HTML/CSS</li>
              <li>JavaScript/TypeScript</li>
              <li>Vue.JS/Nuxt.JS</li>
            </ul>
            </p>
          </div>
        </div>

        <!-- BACK END -->
        <div class="flex flex-col items-center p-1 text-center sm:mt-4 lg:mt-0 md:w-1/5 box-skill">
          <div
            class="inline-flex items-center justify-center flex-shrink-0 mb-5 rounded-full color-second-dark">
            <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
              class="w-20 h-20" viewBox="0 0 24 24">
              <path d="M8 9l3 3-3 3m5 0h3M5 20h14a2 2 0 002-2V6a2 2 0 00-2-2H5a2 2 0 00-2 2v12a2 2 0 002 2z"></path>
            </svg>
          </div>
          <div class="flex-grow">
            <h3 class="mb-3 text-2xl font-semibold text-gray-900 ">Back-End</h3>
            <p class="leading-relaxed">
            <ul class="text-lg">
              <li>PHP/Laravel</li>
              <li>Python/Django</li>
              <li>Java/Spring</li>
              <li>Node.JS/Express</li>
            </ul>
            </p>
          </div>
        </div>

        <!-- Data Science -->
        <div class="flex flex-col items-center p-1 text-center sm:mt-4 lg:mt-0 md:w-1/5 box-skill">
          <div
            class="inline-flex items-center justify-center flex-shrink-0 mb-5 rounded-full color-second-dark">
            <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
              class="w-20 h-20" viewBox="0 0 24 24">
              <path d="M13 10V3L4 14h7v7l9-11h-7z"></path>
            </svg>
          </div>
          <div class="flex-grow">
            <h3 class="mb-3 text-2xl font-semibold text-gray-900 ">Data Science</h3>
            <p class="text-xl leading-relaxed">
              <ul class="text-lg">
                <li>Python e Libs de DS:</li>
                <ul>
                  <li>jupyter notebook</li>
                  <li>pandas, seaborn, scikit-learn</li>
                </ul>
              </ul>
            </p>
          </div>
        </div>

        <!-- Others -->
        <div class="flex flex-col items-center p-1 text-center sm:mt-4 lg:mt-0 md:w-1/5 box-skill">
          <div
            class="inline-flex items-center justify-center flex-shrink-0 mb-5 rounded-full color-second-dark">
            <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
              class="w-20 h-20" viewBox="0 0 24 24">
              <path
                d="M9.75 17L9 20l-1 1h8l-1-1-.75-3M3 13h18M5 17h14a2 2 0 002-2V5a2 2 0 00-2-2H5a2 2 0 00-2 2v10a2 2 0 002 2z">
              </path>
            </svg>
          </div>
          <div class="flex-grow">
            <h3 class="mb-3 text-2xl font-semibold text-gray-900 ">Outros</h3>
            <p class="text-xl leading-relaxed">
              <ul class="text-lg">
                <li>Banco de Dados: SQL</li>
                <li>ETL: Pentaho PDI</li>
                <li>BI: Power BI</li>
                <li>Versionamento: Git</li>
              </ul>
            </p>
          </div>
        </div>

      </div>
    </div>
  </section>

  <!--============ EDUCATION ============-->
  <section class="text-gray-600 body-font" id="education">
    <div class="container px-5 py-12 mx-auto">

      <div class="mb-12 text-center">
        <h2 class="mb-4 text-gray-900">Educação</h2>
        <div class="divider-h2">
          <div></div>
        </div>
      </div>

      <div class="cd-timeline">
        <div class="cd-timeline-block animated">
          <div class="cd-timeline-point">
            <i class="icon ion ion-ios-checkmark-empty"></i>
          </div>
          <div class="cd-timeline-content">
            <div class="content-box">
              <div class="date">2011-2014</div>
              <div class="name">Ensino Médio - IFBA - Campus Eunápolis</div>
              <div class="category">Eunápolis - BA</div>
              <p>
                Ensino médio integrado ao técnico em informática
              </p>
            </div>
          </div>
        </div>
        <div class="cd-timeline-block animated">
          <div class="cd-timeline-point">
            <i class="icon ion ion-ios-checkmark-empty"></i>
          </div>
          <div class="cd-timeline-content">
            <div class="content-box">
              <div class="date">2015-2021</div>
              <div class="name">UFU</div>
              <div class="category">Uberlândia - MG</div>
              <p>
                Bacharel em Ciência da Computação
              </p>
            </div>
          </div>
        </div>

      </div>
    </div>
  </section>



  <!--============ EXPERIENCE ============-->
  <section class="text-gray-600 body-font" id="experience">
    <div class="container px-5 py-12 mx-auto">

      <div class="mb-12 text-center">
        <h2 class="mb-4 text-gray-900">Experiência</h2>
        <div class="divider-h2">
          <div></div>
        </div>
      </div>

      <div class="cd-timeline">
        <div class="cd-timeline-block animated">
          <div class="cd-timeline-point">
            <i class="icon ion ion-ios-checkmark-empty"></i>
          </div>
          <div class="cd-timeline-content">
            <div class="content-box">
              <div class="date">2017-2019</div>
              <div class="name">Neppo</div>
              <div class="category">Uberlândia - MG</div>
              <p>
                Estagiário em TI
              </p>
            </div>
          </div>
        </div>

      </div>
    </div>
  </section>

  <!--============ PROJECTS ============-->
  <section class="text-gray-600 body-font" id="projects">
    <div class="container px-5 py-12 mx-auto">

      <div class="mb-20 text-center">
        <h2 class="mb-4 text-gray-900">Projetos</h2>
        <div class="divider-h2">
          <div></div>
        </div>
      </div>

      <div class="flex flex-wrap md:justify-around">

        <!-- VUE FOR ITERATE -->
        <div class="p-4 w-30cents font-roboto" v-for="project in projects">
          <div class="h-full overflow-hidden border-2 border-gray-200 rounded-lg border-opacity-60">
            <img class="object-cover object-center w-full lg:h-48 md:h-36"
              :src="'./assets/images/projects/'+ project.img_src" alt="blog">
            <div class="p-6">
              <h2 class="flex flex-wrap mb-1 text-xs font-medium tracking-widest text-gray-400 ">
                <span v-for="tag in project.tags">
                  {{ tag }} &nbsp;
                </span>
              </h2>
              <div class="flex flex-wrap">
                <h1 class="mb-3 text-lg font-medium text-gray-900 ">{{ project.name }}</h1>
                <a :href="project.git"><img src="assets/images/icons/git-icon-black.svg"
                  class="w-5 pt-1 mx-2 hover:opacity-20" /></a>
                <a :href="project.link"><img src="assets/images/icons/link-ext.svg" class="w-5 pt-1 hover:opacity-20" /></a>
              </div>
              <p class="mb-3 leading-relaxed">{{ project.desc }}</p>
            </div>
          </div>
        </div>

      </div>
    </div>
  </section>

  <!--============ PRICING ============-->

  <section id="pricing" class="mb-10">

    <div class="mb-20 text-center">
      <h2 class="mb-4 text-gray-900">Freelancer - Preços</h2>
      <div class="divider-h2">
        <div></div>
      </div>
    </div>

    <div class="flex sm:flex-col lg:flex-row sm:justify-evenly lg:items-center lg:mx-auto">

        <!-- CARD 1 -->
        <div class="mx-auto lg:mx-0 elementor-price-table sm:w-1/2 lg:w-1/4">

          <div class="elementor-price-table__header">
            <h3 class="elementor-price-table__heading">One Page</h3>
          </div>

          <div class="elementor-price-table__price">
            <span class="elementor-price-table__currency">R$</span>
            <span class="elementor-price-table__integer-part">300</span>
            <!-- Style necessario para ter o height -->
            <span class="elementor-price-table__period elementor-typo-excluded" style="content: ' '; height: 22px;"></span>
          </div>

          <ul class="elementor-price-table__features-list">

            <li class="elementor-repeater">
              <div class="elementor-price-table__feature-inner">
                <i aria-hidden="true" class="far fa-check-circle"></i>
                <span>Site Institucionais</span>
              </div>
            </li>

            <li class="elementor-repeater">
              <div class="elementor-price-table__feature-inner">
                <i aria-hidden="true" class="far fa-check-circle"></i>
                <span>Landing Page</span>
              </div>
            </li>

            <!-- <li class="elementor-repeater">
                <div class="elementor-price-table__feature-inner">
                  <i aria-hidden="true" class="far fa-check-circle"></i>
                  <span>Produção de ebook e infográfico</span>
                </div>
            </li> -->

          </ul>

          <div class="elementor-price-table__footer">
            <a class="elementor-price-table__button elementor-button elementor-size-md elementor-animation-grow"
            href="https://api.whatsapp.com/send?phone=5521997874198&#038;text=Ol%C3%A1%20Thay!%20Gostaria%20do%20seu%20servi%C3%A7os%20de%20produ%C3%A7%C3%A3o%20de%20conte%C3%BAdo!" target="_blank">Contrate agora</a>
            <div class="elementor-price-table__additional_info">*(Opcional) Recorrência de R$ 30,00 para manutençâo</div>
          </div>

      </div>

      <!-- card 2 -->
      <div class="sm:mx-auto lg:mx-0 elementor-price-table sm:mt-5 lg:mt-0 sm:w-1/2 lg:w-1/4">

        <div class="elementor-price-table__header">
          <h3 class="elementor-price-table__heading">Multi Pages</h3>
        </div>

        <div class="elementor-price-table__price">
          <span class="elementor-price-table__currency">R$</span>
          <span class="elementor-price-table__integer-part">600</span>
          <span class="elementor-price-table__period elementor-typo-excluded">a partir*</span>
        </div>

        <ul class="elementor-price-table__features-list">

          <li class="elementor-repeater">
            <div class="elementor-price-table__feature-inner">
              <i aria-hidden="true" class="far fa-check-circle"></i>
              <span>Blog</span>
            </div>
          </li>

          <li class="elementor-repeater">
            <div class="elementor-price-table__feature-inner">
              <i aria-hidden="true" class="far fa-check-circle"></i>
              <span>Otimização em SEO</span>
            </div>
          </li>

          <!-- <li class="elementor-repeater">
              <div class="elementor-price-table__feature-inner">
                <i aria-hidden="true" class="far fa-check-circle"></i>
                <span>Produção de ebook e infográfico</span>
              </div>
          </li> -->

        </ul>

        <div class="elementor-price-table__footer">
          <a class="elementor-price-table__button elementor-button elementor-size-md elementor-animation-grow" href="https://api.whatsapp.com/send?phone=5521997874198&#038;text=Ol%C3%A1%20Thay!%20Gostaria%20do%20seu%20servi%C3%A7os%20de%20produ%C3%A7%C3%A3o%20de%20conte%C3%BAdo!" target="_blank">Contrate agora</a>
          <div class="elementor-price-table__additional_info">*(Opcional) Recorrência de R$ 30,00 para manutençâo</div>
        </div>

    </div>


    </div>

  </section>

  <!--============ CONTACT ============-->
  <section class="relative text-gray-600 font-roboto" id="contact">

    <div class="mb-20 text-center">
      <h2 class="mb-4 text-gray-900">Contato</h2>
      <div class="divider-h2">
        <div></div>
      </div>
    </div>

    <div class="flex justify-center">
      <a href="https://www.linkedin.com/in/rafael-m-de-assis/"><img src="assets/images/icons/linkedin.svg"
          class="w-10 mx-5 hover:opacity-20" /></a>
      <a href="https://www.kaggle.com/rafanthx13"><img src="assets/images/icons/kaggle.png"
          class="w-10 mx-5 hover:opacity-20" /></a>
      <a href="https://github.com/rafanthx13"><img src="assets/images/icons/github.svg"
          class="w-10 mx-5 hover:opacity-20" /></a>
      <a href="mailto:rafaassis15@gmail.com"><img src="assets/images/icons/gmail.svg"
          class="w-10 mx-5 hover:opacity-20 " /></a>
      <a
        href="https://api.whatsapp.com/send?phone=5534993166595&text=Ola%2C%20gostaria%20de%20falar%20com%20Rafael%20Assis">
        <img src="assets/images/icons/whatsapp.svg" class="w-10 mx-5 hover:opacity-20 " />
      </a>
    </div>

    <!-- ADDRESS IN MOBILE -->
    <div class="relative visible w-3/4 py-6 m-auto bg-white rounded shadow-lg md:hidden sm:w-1/2 sm:mt-2 lg:mt-0">
      <div class="flex flex-col flex-wrap justify-around px-6 ">
        <div>
          <span class="mt-3 text-xs font-semibold tracking-widest text-gray-900 ">ENDEREÇO</span>
          <p class="leading-relaxed">Eunápolis/Bahia/Brazil</p>
        </div>
        <div>
          <span class="mt-3 text-xs font-semibold tracking-widest text-gray-900 ">EMAIL</span>
          <p><a class="leading-relaxed color-second-light">rafaassis15@email.com</a></p>
        </div>
        <div>
          <span class="mt-3 text-xs font-semibold tracking-widest text-gray-900 ">TELEFONE</span>
          <p class="leading-relaxed">(34) 9 9316-6595</p>
        </div>
      </div>
    </div>


    <div class="container flex flex-wrap px-5 py-12 mx-auto sm:flex-nowrap ">
      <div
        class="relative flex items-end justify-start p-10 overflow-hidden bg-gray-300 rounded-lg lg:h-96 md:h-64 lg:w-sreen md:w-screen sm:pr-24 lg:pr-0">
        <object width="100%" height="100%" frameborder="0" class="absolute inset-0" scrolling="no" marginheight="0"
          marginwidth="0"
          data="https://www.openstreetmap.org/export/embed.html?bbox=-40.64117431640626%2C-17.125042196260953%2C-38.53729248046876%2C-15.623036831528252&amp;layer=mapnik&amp;marker=-16.375485785675078%2C-39.5892333984375"></object>

        <!-- ADRESS IN DESKTOP hidden md:block -->
        <div class="relative flex flex-wrap invisible py-6 bg-white rounded shadow-md md:visible">
          <div class="px-6 lg:w-1/2">
            <span class="text-xs font-semibold tracking-widest text-gray-900 ">ENDEREÇO</span>
            <p class="mt-1">Eunápolis/Bahia/Brazil</p>
          </div>
          <div class="px-6 mt-4 lg:w-1/2 lg:mt-0">
            <span class="text-xs font-semibold tracking-widest text-gray-900 ">EMAIL</span>
            <p><a class="leading-relaxed text-gray-900">rafaassis15@email.com</a></p>
            <span class="mt-4 text-xs font-semibold tracking-widest text-gray-900 ">TELEFONE</span>
            <p class="leading-relaxed">(34) 9 9316-6595</p>
          </div>
        </div>

      </div>
    </div>

  </section>

  <!--============ FOOTER ============-->
  <footer class="text-gray-600 font-roboto">
    <div class="container flex flex-col items-center px-5 py-8 mx-auto sm:flex-row">
      <a class="flex items-center justify-center font-medium text-gray-900 md:justify-start">
        <img src="./assets/images/favicon/android-chrome-192x192.png" alt="" class="w-10 p-0 rounded-full">
      </a>
      <p class="mt-4 text-sm text-gray-500 sm:ml-4 sm:pl-4 sm:border-l-2 sm:border-gray-200 sm:py-2 sm:mt-0">© 2021 —
      <p class="ml-1 text-gray-600">Rafael Morais de Assis</p>
      </p>
    </div>
  </footer>

  <!--============ JS SRIPTS ============-->
  <!-- VUE -->
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.1.8/vue.js"></script>
  <script>
    var data = {
      projects: [
        {
          name: 'LogPriceApp',
          git: 'https://github.com/rafanthx13/log-price-comparator',
          link: 'https://price-log-app.herokuapp.com/',
          tags: ['WebPage', 'Vue.JS'],
          img_src: 'logPriceApp.png',
          desc: 'Aplicação Web para registro de produtos, seu preço e sua observar sua evolução no tempo',
        },
        {
          name: 'LogPriceServer',
          git: 'https://github.com/rafanthx13/price-log-re-server',
          link: 'https://library-my-api.herokuapp.com/swagger-ui.html',
          tags: ['Node', 'API REST', 'Express', 'BDD Jest'],
          img_src: 'logPriceServer.png',
          desc: 'API Rest para ser consumida por LogPriceApp'
        },
        {
          name: 'Portifolio de DataScience (Kaggle)',
          git: 'https://github.com/rafanthx13/ds-portifolio',
          link: 'https://github.com/rafanthx13/ds-portifolio',
          tags: ['DataScience', 'Python', 'Kaggle', 'MachineLearning', 'EDA'],
          img_src: 'ds-portifolio.png',
          desc: 'Snippets de Data Science e Projetos da Kaggle '
        },
        {
          name: 'Avaliador de Comentários',
          git: 'https://rafanthx13.github.io/comments-rating-app/',
          link: 'https://rafanthx13.github.io/comments-rating-app/',
          tags: ['WebPage', 'Angular.JS'],
          img_src: 'comments-rating-app.png',
          desc: 'Avaliar comentários como positivo ou negativos através de um modelo de Intelgencia Artificial'
        },
        {
          name: 'Servidor do Avaliador de Coment.',
          git: 'https://rafanthx13.github.io/comments-rating-app/',
          link: '',
          tags: ['Python', 'Flask', 'Pytorch', 'RNN-LSTM'],
          img_src: 'comments-rating-server.png',
          desc: 'Servidor Flask para prover o acesso ao modelo de Machine Learning para classificar comentários'
        },
        {
          name: 'Gerarador de Index de MarkDown',
          git: 'https://github.com/rafanthx13/toc-generator',
          link: 'https://rafanthx13.github.io/md-toc-generator/',
          tags: ['WebPage'],
          img_src: 'toc-generator.png',
          desc: 'Gerador de Index (Table Of Contents) para arquivos MarkDown'
        },
        {
          name: 'Library API',
          git: 'https://github.com/rafanthx13/library-api',
          link: 'https://library-my-api.herokuapp.com/swagger-ui.html',
          tags: ['Java', 'API REST', 'Spring', 'TDD: JUnit'],
          img_src: 'swagger-price-server.png',
          desc: 'API REST simples para um sistema de biblioteca'
        },
        {
          name: 'Movue It',
          git: 'https://github.com/rafanthx13/western-freedom',
          link: 'https://price-log-app.herokuapp.com/',
          tags: ['WebPage', 'Vue/Nuxt', 'TypeScript'],
          img_src: 'movue-it.png',
          desc: 'Aplicação de teste usando Nuxt e TypeScript'
        },
        {
          name: 'Archive Person App',
          git: 'https://github.com/rafanthx13/western-freedom',
          link: 'https://western-freedom.netlify.app/',
          tags: ['WebPage', 'Vue'],
          img_src: 'western-freedom.png',
          desc: 'Aplicação para atrelar Notícias à Pessoas'
        },
        {
          name: 'Archive Person API',
          git: 'https://github.com/rafanthx13/archive-person-api',
          link: 'https://archive-person-api.herokuapp.com/',
          tags: ['API REST', 'Django', 'Python'],
          img_src: 'django-rest-api.png',
          desc: 'API Rest para aplicação "Archive Person App"'
        },
        {
          name: 'Projetos de Web Pages',
          git: 'https://github.com/rafanthx13/web-page-training',
          link: 'https://rafanthx13.github.io/web-page-training/',
          img_src: 'web-pages-project.png',
          tags: ['WebPage', 'Design', 'CSS'],
          desc: 'Reprodução de Páginas Web. Treinamento de CSS e Design'
        }
      ]
    };

    new Vue({
      el: '#projects',
      data: data
    });
  </script>
  <script src="./assets/js/jquery.min.js"></script>
  <script src="./assets/js/main.js"></script>


</body>

</html>


