.my-nav-bar {
  background-color: #4444; /* Black background color */
  position: fixed; /* Make it stick/fixed */
  top: 0; /* Stay on top */
  width: 100%; /* Full width */
  /* transition: down 0.3s; /* Transition effect when sliding down (and up) */
  transition: transform .5s;
}

ul {
  list-style-type: none;
  text-align: center;
  text-transform: capitalize;
  padding-left: 0;
}

i {
		font-size: 2.0em;
		padding: 15px 15px 15px 15px;
		border-radius: 50px;
    transition: all .3s;
}

i:hover {
		background-color: #007bff;
		color: white;
}

.jumbotron {
  background: #b4c8ff;
}
