
.cd-timeline {
	margin: 30px 0 0 0;
	padding: 50px 0 0 0;
	position: relative;
}

.cd-timeline:before {
	content: '';
	margin: 0 0 0 -2px;
	position: absolute;
	top: 0;
	left: 50%;
	width: 3px;
	height: 100%;
	background: var(--second-color);
}

@media (max-width: 720px) {
	.cd-timeline {
		margin: 0;
	}

	.cd-timeline:before {
		left: 31px;
	}

}

.cd-timeline .cd-timeline-block {
	margin: 30px 0;
	position: relative;
}

.cd-timeline .cd-timeline-block:after {
	content: "";
	display: table;
	clear: both;
}

.cd-timeline .cd-timeline-block:first-child {
	margin-top: 0;
}

.cd-timeline .cd-timeline-block:last-child {
	margin-bottom: 0;
}

.cd-timeline .cd-timeline-block:nth-child(even) .cd-timeline-content {
	float: right;
}

@media (max-width: 720px) {
	.cd-timeline .cd-timeline-block:nth-child(even) .cd-timeline-content {
		float: none;
	}

}

.cd-timeline .cd-timeline-block:nth-child(even) .cd-timeline-content:before {
	top: 19px;
	left: auto;
	right: 100%;
	border-left: none;
	border-right: 7px solid #fefefe;
}

.cd-timeline .cd-timeline-block:nth-child(even) .cd-timeline-content:after {
	top: 19px;
	left: auto;
	right: 100%;
	background: url(../images/icons/sh_lt.png) no-repeat;
}

.cd-timeline .cd-timeline-block:nth-child(even) .cd-timeline-content .date {
	right: auto;
	left: -154px;
}

.cd-timeline .cd-timeline-block:nth-child(even) .cd-timeline-content .date:before {
	right: auto;
	left: 100%;
	border-right: none;
	border-left: 6px solid var(--second-color);
}

@media (max-width: 720px) {
	.cd-timeline .cd-timeline-block:nth-child(even) .cd-timeline-content .date {
		right: auto;
		left: 0;
		top: -46px;
	}

	.cd-timeline .cd-timeline-block:nth-child(even) .cd-timeline-content .date:before {
		left: auto;
		right: 100%;
		border-left: none;
		border-right: 6px solid var(--second-color);
	}

}

.cd-timeline .cd-timeline-block .cd-timeline-point {
	margin: 0 0 0 -13px;
	position: absolute;
	top: 12px;
	left: 50%;
	width: 26px;
	height: 26px;
	line-height: 26px;
	text-align: center;
	background: var(--second-color);
	border-radius: 26px;
	-moz-border-radius: 26px;
	-webkit-border-radius: 26px;
	-khtml-border-radius: 26px;
	box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.2);
	-moz-box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.2);
	-webkit-box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.2);
	-khtml-box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.2);
}

.cd-timeline .cd-timeline-block .cd-timeline-point .icon {
	font-size: 24px;
	color: #fefefe;
}

@media (max-width: 720px) {
	.cd-timeline .cd-timeline-block .cd-timeline-point {
		margin: 0;
		left: 17px;
	}

}

.cd-timeline .cd-timeline-block .cd-timeline-content {
	position: relative;
	width: 46%;
}

.cd-timeline .cd-timeline-block .cd-timeline-content:before {
	content: '';
	position: absolute;
	top: 19px;
	left: 100%;
	height: 0;
	width: 0;
	border: 7px solid transparent;
	border-left: 7px solid #fefefe;
	z-index: 2;
}

.cd-timeline .cd-timeline-block .cd-timeline-content:after {
	content: '';
	position: absolute;
	top: 18px;
	left: 100%;
	height: 16px;
	width: 9px;
	z-index: 1;
	background: url(../images/icons/sh_rt.png) no-repeat;
}

@media (max-width: 720px) {
	.cd-timeline .cd-timeline-block .cd-timeline-content {
		margin-left: 60px;
		padding-top: 60px;
		position: relative;
		width: auto;
	}

	.cd-timeline .cd-timeline-block .cd-timeline-content:before,
	.cd-timeline .cd-timeline-block .cd-timeline-content:after {
		display: none;
	}

}

.cd-timeline .cd-timeline-block .cd-timeline-content .date {
	margin: 0;
	position: absolute;
	top: 13px;
	right: -154px;
}

.cd-timeline .cd-timeline-block .cd-timeline-content .date:before {
	content: '';
	margin: -6px 0 0 0;
	position: absolute;
	top: 50%;
	right: 100%;
	height: 0;
	width: 0;
	border: 6px solid transparent;
	border-right: 6px solid var(--second-color);
}

@media (max-width: 720px) {
	.cd-timeline .cd-timeline-block .cd-timeline-content .date {
		right: auto;
		left: 0;
		top: -46px;
	}

}

.cd-timeline .cd-timeline-block .cd-timeline-content .category {
	margin: 0 0 10px 0;
}

.cd-timeline .cd-timeline-block .cd-timeline-content .name {
	margin: 0 0 10px 0;
	padding: 0;
	display: block;
	font-size: 17px;
	color: #363636;
	font-weight: 400;
}

.cd-timeline .cd-timeline-block .cd-timeline-content p {
	margin: 0;
}

/* */

.content-box {
	padding: 25px;
	position: relative;
	background: whitesmoke;
	border-radius: 2px;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	-khtml-border-radius: 2px;
	box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.14);
	-moz-box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.14);
	-webkit-box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.14);
	-khtml-box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.14);
}


.date {
	margin: 5px 5px 5px 0;
	padding: 1px 5px;
	display: inline-block;
	vertical-align: top;
	background: var(--second-color);
	font-size: 13px;
	color: #fefefe;
	border-radius: 2px;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	-khtml-border-radius: 2px;
	transition: all 0.2s ease 0s;
	-moz-transition: all 0.2s ease 0s;
	-webkit-transition: all 0.2s ease 0s;
	-o-transition: all 0.2s ease 0s;
}

.category {
	margin: 5px 5px 5px 0;
	padding: 1px 5px;
	display: inline-block;
	vertical-align: top;
	background: #efefef;
	font-size: 13px;
	color: #363636;
	border-radius: 2px;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	-khtml-border-radius: 2px;
	transition: all 0.2s ease 0s;
	-moz-transition: all 0.2s ease 0s;
	-webkit-transition: all 0.2s ease 0s;
	-o-transition: all 0.2s ease 0s;
}

a.category:hover {
	color: #fefefe;
}



.section .title .circle .icon {
	color: #fefefe;
	font-size: 30px;
}


@media (max-width: 720px) {
	.section.experience .title,
	.section.education .title {
		padding: 20px 0 0 80px;
		text-align: left;
	}

	.section.experience .title .circle,
	.section.education .title .circle {
		margin: 0;
		bottom: 0;
		left: 0;
	}

}

.section .title {
  position: relative;
  height: 70px;
  text-align: center;
  color: #363636;
  font-size: 36px;
  font-weight: 100;
  z-index: 3;
}

.section .title .ccircle {
  margin: 0 0 0 -31px;
  position: absolute;
  left: 50%;
  bottom: -45px;
  width: 62px;
  height: 62px;
  background: var(--second-color);
  text-align: center;
  line-height: 62px;
  padding-left: 1px;
  border-radius: 62px;
  -moz-border-radius: 62px;
  -webkit-border-radius: 62px;
  -khtml-border-radius: 62px;
  box-shadow: 0 6px 10px 0 rgb(0 0 0 / 20%);
  -moz-box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 0 6px 10px 0 rgb(0 0 0 / 20%);
  -khtml-box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.2);
}


