<!DOCTYPE html>
<html lang="en">
<head>
    <!-- SEO -->
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-G3C5WCMRQL"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());
        gtag('config', 'G-G3C5WCMRQL');
    </script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="referrer" content="origin">
    <meta name="description" content="Rafael Assis Portifolio">
    <meta name="owner" content="Rafael Assis"/>
    <meta name="theme-color" content="#73839b" >

    <meta property="og:url" content="https://rafanthx13.github.io/">
    <meta property="og:type" content="website">
    <meta property="og:title" content="Rafael Morais de Assis">
    <meta property="og:description" content="Rafael Assis Portifolio">
    <meta property="og:image" content="assets/images/favicon/favicon-32x32.png">
    <meta property="og:locale" content="en">

    <title>Rafael Morais de Assis</title>

    <!-- FavIcon -->
    <link rel="apple-touch-icon" sizes="180x180" href="./../assets/images/favicon//apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="./../assets/images/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="./../assets/images/favicon//favicon-16x16.png">

    <!-- Scripts -->
    <!-- <link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet"> -->
    <!-- CSS DEV -->
    <link rel="stylesheet" href="./../assets/css/full-tailwind.css">
    <!-- CSS PROD -->
    <!-- <link rel="stylesheet" href="assets/css/my-tailwind.css"> -->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.1.8/vue.js"></script>
    <link rel="stylesheet" href="../assets/css/time-line.css">
    <link rel="stylesheet" href="../assets/css/language-selector.css">

</head>
<style>
    html {
        scroll-behavior: smooth;
    }

    #my-photo {
        /* Fazer degradê em borda*/
        background-image: linear-gradient(90deg, #f6cb9f, #697c8e);
        background-origin: border-box;
        background-clip: padding-box, border-box;
        padding: 4px;
        border-radius: 80vh;
    }

</style>
<body>
    <!-- HEADER -->
    <header class="text-gray-600 body-font">
        <div class="container flex flex-col flex-wrap items-center p-5 mx-auto md:flex-row">
            <a class="flex items-center mb-4 font-medium text-gray-900 title-font md:mb-0">
                <img src="./assets/images/favicon/android-chrome-192x192.png" alt="" class="w-10 p-0 rounded-full">
                <span class="ml-3 text-xl">My Portfolio</span>
            </a>
            <nav class="flex flex-wrap items-center justify-center text-base md:ml-auto">
                <button class="px-4 py-2 mr-5 font-semibold text-gray-700 bg-transparent border border-gray-500 rounded hover:bg-gray-500 hover:text-white hover:border-transparent">
                    <a href="./docs/Rafael-Morais-de-Assis-Currículo-Final.pdf">
                        Donwload Currículo
                    </a>
                  </button>
                <a class="mr-5 hover:text-gray-900" href="#section1">Skills</a>
                <a class="mr-5 hover:text-gray-900" href="#section2">Projects</a>
                <a class="mr-5 hover:text-gray-900" href="#section3">Contact</a>
                <div class="lang-menu">
                    <div class="en selected-lang">
                    </div>
                    <ul>
                        <li>
                          <a href="../index.html" class="br">pt</a>
                        </li>
                        <li>
                            <a href="#" class="en">en</a>
                        </li>
                        <!-- <li>
                            <a href="#" class="de">ge</a>
                        </li>
                        <li>
                            <a href="" class="fr">fr</a>
                        </li> -->

                    </ul>

                </div>
            </nav>
        </div>
    </header>
    <!-- HERO -->
    <section class="text-gray-600 body-font" style="background-image: url('assets/images/sea.webp')"">
        <div class="container flex flex-col items-center justify-center px-5 py-2 mx-auto">
            <img id="my-photo" class="object-cover object-center w-4/6 mb-10 rounded-full lg:w-1/4 md:w-2/6" alt="hero" src="./assets/images/my_foto.jpg">
            <div class="w-full text-center lg:w-2/3">
                <h1 class="mb-4 text-5xl font-medium text-gray-900 title-font sm:text-5xl">Rafael Morais de Assis</h1>
                <p class="mb-8 leading-relaxed">Computing Science Graduating Student, Full-Stack Developer and Machine Learning Enthusiast.</p>
                <!-- <div class="subtitle">
                    I am
                    <div class="typing-title">
                        <p>a <strong>web developer.</strong></p>
                        <p>a <strong>blogger.</strong></p>
                        <p>a <strong>freelancer.</strong></p>
                        <p>a <strong>photographer.</strong></p>
                    </div>
                    <span class="typed-title"></span>
                </div> -->
            </div>
            <div>

            </div>
        </div>
    </section>
    <!-- MY HABILITES -->
    <section class="text-gray-600 body-font" id="section1">
        <div class="container px-5 py-12 mx-auto">
            <div class="mb-20 text-center">
                <h1 class="mb-4 text-2xl font-medium text-gray-900 sm:text-3xl title-font">My Skills</h1>
                <div class="flex justify-center mt-6">
                    <div class="inline-flex w-16 h-1 bg-blue-300 rounded-full"></div>
                </div>
            </div>
            <div class="flex flex-wrap items-start justify-around -mx-4 -mt-4 -mb-10 sm:-m-4 md:space-y-0">
                <!-- FRONT END -->
                <div class="flex flex-col items-center p-4 text-center md:w-1/4">
                    <div class="inline-flex items-center justify-center flex-shrink-0 w-20 h-20 mb-5 text-indigo-500 bg-indigo-100 rounded-full">
                        <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-10 h-10" viewBox="0 0 24 24">
                            <path d="M10 20l4-16m4 4l4 4-4 4M6 16l-4-4 4-4"></path>
                        </svg>
                    </div>
                    <div class="flex-grow">
                        <h2 class="mb-3 text-2xl font-medium text-gray-900 title-font">Front-End</h2>
                        <p class="leading-relaxed">
                            <ul class="text-lg">
                                <li>HTML/CSS</li>
                                <li>JavaScript/TypeScript</li>
                                <li>Vue.JS/Nuxt.JS</li>
                            </ul>
                        </p>
                    </div>
                </div>
                <!-- BACK END -->
                <div class="flex flex-col items-center p-4 text-center md:w-1/4">
                    <div class="inline-flex items-center justify-center flex-shrink-0 w-20 h-20 mb-5 text-indigo-500 bg-indigo-100 rounded-full">
                        <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-10 h-10" viewBox="0 0 24 24">
                            <path d="M8 9l3 3-3 3m5 0h3M5 20h14a2 2 0 002-2V6a2 2 0 00-2-2H5a2 2 0 00-2 2v12a2 2 0 002 2z"></path>
                        </svg>
                    </div>
                    <div class="flex-grow">
                        <h2 class="mb-3 text-2xl font-medium text-gray-900 title-font">Back-End</h2>
                        <p class="leading-relaxed">
                            <ul class="text-lg">
                                <li>PHP/Laravel</li>
                                <li>Python/Django</li>
                                <li>Java/Spring</li>
                                <li>Node.JS/Express</li>
                            </ul>
                        </p>
                    </div>
                </div>
                <!-- Data Science -->
                <div class="flex flex-col items-center p-4 text-center md:w-1/4">
                    <div class="inline-flex items-center justify-center flex-shrink-0 w-20 h-20 mb-5 text-indigo-500 bg-indigo-100 rounded-full">
                        <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-10 h-10" viewBox="0 0 24 24">
                            <path d="M13 10V3L4 14h7v7l9-11h-7z"></path>
                        </svg>
                    </div>
                    <div class="flex-grow">
                        <h2 class="mb-3 text-2xl font-medium text-gray-900 title-font">Data Science</h2>
                        <p class="text-xl leading-relaxed">
                            <ul class="text-lg">
                                <li>Python e suas Libs:</li>
                                <ul>
                                    <li>jupyter notebook</li>
                                    <li>pandas, numpy, scikit-learn</li>
                                    <li>seaborn, matplotlib, bokeh</li>
                                </ul>
                            </ul>

                        </p>
                    </div>
                </div>
                <!-- Others -->
                <div class="flex flex-col items-center p-4 text-center md:w-1/4">
                    <div class="inline-flex items-center justify-center flex-shrink-0 w-20 h-20 mb-5 text-indigo-500 bg-indigo-100 rounded-full">
                        <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-10 h-10" viewBox="0 0 24 24">
                            <path d="M9.75 17L9 20l-1 1h8l-1-1-.75-3M3 13h18M5 17h14a2 2 0 002-2V5a2 2 0 00-2-2H5a2 2 0 00-2 2v10a2 2 0 002 2z"></path>
                        </svg>
                    </div>
                    <div class="flex-grow">
                        <h2 class="mb-3 text-2xl font-medium text-gray-900 title-font">Others</h2>
                        <p class="text-xl leading-relaxed">
                            <ul class="text-lg">
                                <li>Banco de Dados: SQL</li>
                                <li>ETL: Pentaho PDI</li>
                                <li>BI: Power BI</li>
                                <li>Mobile: Flutter</li>
                                <li>Versionamento: Git</li>
                            </ul>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="text-gray-600 body-font" id="section1">
      <div class="container px-5 py-12 mx-auto">
        <div class="mb-10 text-center">
            <h1 class="mb-4 text-2xl font-medium text-gray-900 sm:text-3xl title-font">Educação</h1>
            <div class="flex justify-center mt-6">
                <div class="inline-flex w-16 h-1 bg-blue-300 rounded-full"></div>
            </div>
        </div>
        <div class="cd-timeline">
          <div class="cd-timeline-block animated">
            <div class="cd-timeline-point">
              <i class="icon ion ion-ios-checkmark-empty"></i>
            </div>
            <div class="cd-timeline-content">
              <div class="content-box">
                <div class="date">2011-2014</div>
                <div class="name">High School - IFBA - Campus Eunápolis</div>
                <div class="category">Eunápolis - BA</div>
                <p>
                  High school integrated with computer technician
                </p>
              </div>
            </div>
          </div>
          <div class="cd-timeline-block animated">
            <div class="cd-timeline-point">
              <i class="icon ion ion-ios-checkmark-empty"></i>
            </div>
            <div class="cd-timeline-content">
              <div class="content-box">
                <div class="date">2015-2021</div>
                <div class="name">UFU</div>
                <div class="category">Uberlândia - MG</div>
                <p>
                  Degree in Computer Science
                </p>
              </div>
            </div>
          </div>
          <!-- <div class="cd-timeline-block animated">
            <div class="cd-timeline-point">
              <i class="icon ion ion-ios-checkmark-empty"></i>
            </div>
            <div class="cd-timeline-content">
              <div class="content-box">
                <div class="date">2004-2009</div>
                <div class="name">Abc Inc.</div>
                <div class="category">Senior Developer</div>
                <p>
                  Ubique maluisset vel te, his dico vituperata ut. Pro ei phaedrum maluisset. Ex audire suavitate has, ei quodsi
                  tacimates sapientem sed, pri zril ubique ut. Lorem ipsum dolor sit amet, in quodsi vulputate pro. Ius illum vocent
                  mediocritatem an, cule dicta iriure at.
                </p>
              </div>
            </div>
          </div> -->
        </div>
      </div>
    </section>

    <section class="text-gray-600 body-font" id="section1">
      <div class="container px-5 py-12 mx-auto">
        <div class="mb-10 text-center">
            <h1 class="mb-4 text-2xl font-medium text-gray-900 sm:text-3xl title-font">Experiência</h1>
            <div class="flex justify-center mt-6">
                <div class="inline-flex w-16 h-1 bg-blue-300 rounded-full"></div>
            </div>
        </div>
        <div class="cd-timeline">
          <div class="cd-timeline-block animated">
            <div class="cd-timeline-point">
              <i class="icon ion ion-ios-checkmark-empty"></i>
            </div>
            <div class="cd-timeline-content">
              <div class="content-box">
                <div class="date">2017-2019</div>
                <div class="name">Neppo</div>
                <div class="category">Uberlândia - MG</div>
                <p>
                  Estagiário em TI
                </p>
              </div>
            </div>
          </div>
          <!-- <div class="cd-timeline-block animated">
            <div class="cd-timeline-point">
              <i class="icon ion ion-ios-checkmark-empty"></i>
            </div>
            <div class="cd-timeline-content">
              <div class="content-box">
                <div class="date">2015-2021</div>
                <div class="name">UFU</div>
                <div class="category">Uberlândia - MG</div>
                <p>
                  Bacharel em Ciência da Computação
                </p>
              </div>
            </div>
          </div> -->
          <!-- <div class="cd-timeline-block animated">
            <div class="cd-timeline-point">
              <i class="icon ion ion-ios-checkmark-empty"></i>
            </div>
            <div class="cd-timeline-content">
              <div class="content-box">
                <div class="date">2004-2009</div>
                <div class="name">Abc Inc.</div>
                <div class="category">Senior Developer</div>
                <p>
                  Ubique maluisset vel te, his dico vituperata ut. Pro ei phaedrum maluisset. Ex audire suavitate has, ei quodsi
                  tacimates sapientem sed, pri zril ubique ut. Lorem ipsum dolor sit amet, in quodsi vulputate pro. Ius illum vocent
                  mediocritatem an, cule dicta iriure at.
                </p>
              </div>
            </div>
          </div> -->
        </div>
      </div>
    </section>

    <!-- PROJECTS -->
    <section class="text-gray-600 body-font" id="section2">
        <div class="container px-5 py-12 mx-auto">
            <div class="mb-20 text-center">
                <h1 class="mb-4 text-2xl font-medium text-gray-900 sm:text-3xl title-font">Projetos</h1>
                <div class="flex justify-center mt-6">
                    <div class="inline-flex w-16 h-1 bg-blue-300 rounded-full"></div>
                </div>
            </div>
            <div class="flex flex-wrap -m-4">
                <!-- VUE -->
                <div class="p-4 md:w-1/3" v-for="project in projects">
                    <div class="h-full overflow-hidden border-2 border-gray-200 rounded-lg border-opacity-60">
                        <img class="object-cover object-center w-full lg:h-48 md:h-36" :src="'./assets/images/projects/'+ project.img_src" alt="blog">
                        <div class="p-6">
                            <h2 class="flex flex-wrap mb-1 text-xs font-medium tracking-widest text-gray-400 title-font">
                                <span v-for="tag in project.tags">
                                    {{ tag }} &nbsp;
                                </span>
                            </h2>
                            <span class="flex">
                                <a :href="project.git"><img src="./assets/images/git-icon-black.svg" class="w-5 hover:opacity-20" /></a>
                                <a :href="project.link"><img src="./assets/images/link-ext.svg" class="w-5 hover:opacity-20" /></a>
                            </span>
                            <h1 class="mb-3 text-lg font-medium text-gray-900 title-font">{{ project.name }}</h1>
                            <p class="mb-3 leading-relaxed">{{ project.desc }}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- CONTACT -->
    <section class="relative text-gray-600 body-font" id="section3">

            <div class="mb-12 text-center">
                <h1 class="mb-4 text-2xl font-medium text-gray-900 sm:text-3xl title-font">Contato</h1>
                <div class="flex justify-center mt-6">
                    <div class="inline-flex justify-center w-16 h-1 bg-blue-300 rounded-full"></div>
                </div>
            </div>

            <div class="flex justify-center">
                <a href="https://www.linkedin.com/in/rafael-m-de-assis/"><img src="./assets/images/linkedin.svg" class="w-5 w-10 mx-5 hover:opacity-20" /></a>
                <a href="https://www.kaggle.com/rafanthx13"><img src="./assets/images/kaggle.png" class="w-5 w-10 mx-5 hover:opacity-20" /></a>
                <a href="https://github.com/rafanthx13"><img src="./assets/images/github.svg" class="w-5 w-10 mx-5 hover:opacity-20" /></a>
                <a href="mailto:rafaassis15@gmail.com"><img src="./assets/images/gmail.svg" class="w-5 w-10 mx-5 hover:opacity-20 " /></a>
            </div>

            <!-- ADRES IN MOBILE -->
            <div class="relative visible w-3/4 py-6 m-auto bg-white rounded shadow-lg md:hidden sm:w-1/2 ">
                <div class="flex flex-col flex-wrap justify-around px-6">
                    <div>
                        <h2 class="mt-3 text-xs font-semibold tracking-widest text-gray-900 title-font">ADDRESS</h2>
                        <p class="leading-relaxed">Eunápolis/Bahia/Brazil</p>
                    </div>
                    <div>
                        <h2 class="mt-3 text-xs font-semibold tracking-widest text-gray-900 title-font">EMAIL</h2>
                        <a class="leading-relaxed text-indigo-500">rafaassis15@email.com</a>
                    </div>
                    <div>
                        <h2 class="mt-3 text-xs font-semibold tracking-widest text-gray-900 title-font">PHONE</h2>
                        <p class="leading-relaxed">+55 (34) 9 9316-6595</p>
                    </div>
                </div>
            </div>


            <div class="container flex flex-wrap px-5 py-12 mx-auto sm:flex-nowrap">
                <div class="relative flex items-end justify-start p-10 overflow-hidden bg-gray-300 rounded-lg lg:h-96 md:h-64 lg:w-sreen md:w-screen sm:mr-10">
                    <object width="100%" height="100%" frameborder="0" class="absolute inset-0" scrolling="no" marginheight="0" marginwidth="0" data="https://www.openstreetmap.org/export/embed.html?bbox=-40.64117431640626%2C-17.125042196260953%2C-38.53729248046876%2C-15.623036831528252&amp;layer=mapnik&amp;marker=-16.375485785675078%2C-39.5892333984375"></object>

                    <!-- ADRESS IN DESKTOP hidden md:block -->
                    <div class="relative flex flex-wrap invisible py-6 bg-white rounded shadow-md md:visible">
                        <div class="px-6 lg:w-1/2">
                            <h2 class="text-xs font-semibold tracking-widest text-gray-900 title-font">ADDRESS</h2>
                            <p class="mt-1">Eunápolis/Bahia/Brazil</p>
                        </div>
                        <div class="px-6 mt-4 lg:w-1/2 lg:mt-0">
                            <h2 class="text-xs font-semibold tracking-widest text-gray-900 title-font">EMAIL</h2>
                            <a class="leading-relaxed text-indigo-500">rafaassis15@email.com</a>
                            <h2 class="mt-4 text-xs font-semibold tracking-widest text-gray-900 title-font">PHONE</h2>
                            <p class="leading-relaxed">(34) 9 9316-6595</p>
                        </div>
                    </div>

                </div>
            </div>

    </section>
    <!-- FOOTER -->
    <footer class="text-gray-600 body-font">
        <div class="container flex flex-col items-center px-5 py-8 mx-auto sm:flex-row">
            <a class="flex items-center justify-center font-medium text-gray-900 title-font md:justify-start">
                <img src="./assets/images/favicon/android-chrome-192x192.png" alt="" class="w-10 p-0 rounded-full">
            </a>
            <p class="mt-4 text-sm text-gray-500 sm:ml-4 sm:pl-4 sm:border-l-2 sm:border-gray-200 sm:py-2 sm:mt-0">© 2021  —
                <p class="ml-1 text-gray-600">Rafael Morais de Assis</p>
            </p>
        </div>
    </footer>
    <script>
        var data = { projects: [
            {
                name: 'LogPriceApp',
                git: 'https://github.com/rafanthx13/log-price-comparator',
                link: 'https://price-log-app.herokuapp.com/',
                tags: ['WebPage', 'Vue.JS'],
                img_src: 'logPriceApp.png',
                desc: 'Aplicação Web para registro de produtos, seu preço e sua observar sua evolução no tempo',
            },
            {
                name: 'LogPriceServer',
                git: 'https://github.com/rafanthx13/price-log-re-server',
                link: 'https://library-my-api.herokuapp.com/swagger-ui.html',
                tags: ['Node', 'API REST', 'Express', 'BDD Jest'],
                img_src: 'logPriceServer.png',
                desc: 'API Rest para ser consumida por LogPriceApp'
            },
            {
                name: 'Portifolio de Projetos de DataScience da Kaggle',
                git: 'https://github.com/rafanthx13/ds-portifolio',
                link: 'https://github.com/rafanthx13/ds-portifolio',
                tags: ['DataScience', 'Python', 'Kaggle', 'MachineLearning', 'EDA' ],
                img_src: 'ds-portifolio.png',
                desc: 'Snippets de Data Science e Projetos da Kaggle '
            },
            {
                name: 'Avaliador de Comentários',
                git: 'https://rafanthx13.github.io/comments-rating-app/',
                link: 'https://rafanthx13.github.io/comments-rating-app/',
                tags: ['WebPage', 'Angular.JS'],
                img_src: 'comments-rating-app.png',
                desc: 'Avaliar comentários como positivo ou negativos através de um modelo de Intelgencia Artificial'
            },
            {
                name: 'Servidor do Avaliador de Comentários',
                git: 'https://rafanthx13.github.io/comments-rating-app/',
                link: '',
                tags: ['Python', 'Flask', 'Pytorch', 'RNN-LSTM'],
                img_src: 'comments-rating-server.png',
                desc: 'Servidor Flask para prover o acesso ao modelo de Machine Learning para classificar comentários'
            },
            {
                name: 'Gerardor de Index de MarkDown',
                git: 'https://github.com/rafanthx13/toc-generator',
                link: 'https://rafanthx13.github.io/md-toc-generator/',
                tags: ['WebPage'],
                img_src: 'toc-generator.png',
                desc: 'Gerador de Index (Table Of Contents) para arquivos MarkDown'
            },
            {
                name: 'Library API',
                git: 'https://github.com/rafanthx13/library-api',
                link: 'https://library-my-api.herokuapp.com/swagger-ui.html',
                tags: ['Java', 'API REST', 'Spring', 'TDD: JUnit'],
                img_src: 'swagger-price-server.png',
                desc: 'API REST simples para um sistema de biblioteca'
            },
            {
                name: 'Movue It',
                git: 'https://github.com/rafanthx13/western-freedom',
                link: 'https://price-log-app.herokuapp.com/',
                tags: ['WebPage', 'Vue/Nuxt', 'TypeScript'],
                img_src: 'movue-it.png',
                desc: 'Aplicação de teste usando Nuxt e TypeScript'
            },
            {
                name: 'Archive Person App',
                git: 'https://github.com/rafanthx13/western-freedom',
                link: 'https://western-freedom.netlify.app/',
                tags: ['WebPage', 'Vue'],
                img_src: 'western-freedom.png',
                desc: 'Aplicação para atrelar Notícias à Pessoas'
            },
            {
                name: 'Archive Person API',
                git: 'https://github.com/rafanthx13/archive-person-api',
                link: 'https://archive-person-api.herokuapp.com/',
                tags: ['API REST', 'Django', 'Python'],
                img_src: 'django-rest-api.png',
                desc: 'API Rest para aplicação "Archive Person App"'
            },
            {
                name: 'Projetos de Web Pages',
                git: 'https://github.com/rafanthx13/web-page-training',
                link: 'https://rafanthx13.github.io/web-page-training/',
                img_src: 'web-pages-project.png',
                tags: ['WebPage', 'Design', 'CSS'],
                desc: 'Reprodução de Páginas Web. Treinamento de CSS e Design'
            }
        ]};

        new Vue({
            el: '#section2',
            data: data
        });
    </script>
    <!-- <script src="js/jquery.min.js"></script>
    <script src="js/typed.js"></script>
    <script src="js/main.js"></script> -->
</body>
</html>
